@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$base-color: white;
$secondary-color: #5F5F5F;
$darkgray: #262626;
$lightgray: #6B6B6B;

* {
  margin: 0;
  padding: 0;
}

.roboto-flex {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.roboto-flex-semibold {
  @extend .roboto-flex;
  font-weight: 600;
}

.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #141414;
  color: $base-color;
  padding: 3rem;
  @extend .roboto-flex-semibold;
}

.copyright {
  margin-top: 2.5rem;
  width: 100%;
  text-align: center;
  color: $secondary-color;
  font-size: 0.75rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 640px;

    header {
      h1 {
        font-size: 24px;
        @extend .roboto-mono;
      }

      p {
        @extend .roboto-flex-semibold;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
      width: 100%;

      button {
        width: 100%;
        height: 90px;
        border: none;
        font-size: 24px;
        @extend .roboto-flex-semibold;
        cursor: pointer;
      }

      #main {
        background-color: white;
        color: black;
      }

      #secondary {
        background-color: $darkgray;
        color: $lightgray;
      }
    }
  }

  .content-edit {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 1240px;

    .info-section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "winrate average unallocated"
          "load-button load-button load-button";
      }

      .winrate {
        grid-area: winrate;
      }

      .average {
        grid-area: average;
      }

      .unallocated {
        grid-area: unallocated;
      }

      .load-button {
        grid-area: load-button;
      }

      .info__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #262626;
        color: #6B6B6B;
        border: none;
        @extend .roboto-flex-semibold;
        font-size: 18px;
        text-align: center;
        padding: 15px 0;
      }
    }
  }
}

.secondary {
  color: $secondary-color
}


.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 calc(33.33% - 20px);
  background: #262626;
}

.item_grid {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 20px;
  grid-template-areas:
    "div1 div1"
    "div2 div3";

  div {
    display: flex;
    gap: 5px 0px;
    flex-direction: column;
    margin: 15px 20px;
  }

  .div1 {
    grid-area: div1;
  }

  .div2 {
    grid-area: div2;
  }

  .div3 {
    grid-area: div3;
  }

  input {
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #6B6B6B;
    font-size: 20px;
    width: 100%;
    background: none;
    color: white;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }
}

.button_delete {
  height: 50px;
  color: red;
  width: 100%;
  background-color: #5F5F5F;
  border: none;
  color: #262626;
  @extend .roboto-flex-semibold;
  font-size: 18px;
}

.add_button {
  height: 4rem;
  width: 8rem;
  align-self: center;
  justify-self: center;
  background-color: white;
  border: none;
  @extend .roboto-flex-semibold;
  font-size: 18px;
}

.item_container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
}

.recent {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .files {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;

    .button__small {
      background-color: $darkgray;
      color: $lightgray;
      border: none;
      cursor: pointer;
      height: 6rem;
      font-size: 1.2rem;
      @extend .roboto-flex-semibold;
    }
  }
}

footer {
  .functional {
    display: flex;
    gap: 2rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      form {
        display: flex;
        gap: 5px 0px;
        flex-direction: column;

        input {
          height: 35px;
          box-sizing: border-box;
          border: 2px solid #6B6B6B;
          font-size: 20px;
          width: 100%;
          background: none;
          color: white;
          padding: 5px;

          &:focus {
            outline: none;
          }
        }
      }

      button {
        @extend .add_button;
        width: 100%;
        height: fit-content;
        padding: 1rem 0;
      }
    }
  }
}